<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Expr.IO by kevinkassimo</title>
        <link rel="stylesheet" href="/assets/css/style.css?v=119c338442b28b5c69c8dc66ab2cf5f8be0737e9">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/assets/js/respond.js"></script>
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="/assets/css/ie.css">
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body>
        <div id="header">
            <nav>
                <li class="fork">
                    <!--<a href="http://github.com/kevinkassimo/kevinkassimo.github.io">View On GitHub</a>-->
                    <a href="/index.html">Back</a>
                </li>
            </nav>
        </div>

        <div class="wrapper">
            <section>
                <div class="title">
                    <h1>
                        {% if page.title %} 
                        {{ page.title }}
                        {% else %} 
                        {{ site.title }}
                        {% endif %}
                    </h1>
                    <hr>
                    <h4>
                        {% if page.date %} 
                        <object class="svg" type="image/svg+xml" data="/images/icons/clock.svg">Your browser does not support SVG</object> {{ page.date }} &nbsp; ||&nbsp; By <a href="http://github.com/kevinkassimo">Kevin Qian</a>
                        {% endif %}
                    </h4>
                    <hr>
                </div>
                {{content}}
                <hr>
                {% if page.commentLink %}
                <h3>Comments:</h3>
                <a href="{{page.commentLink}}">Link to comments</a>
                {% endif %}
            </section>
        </div>
    </body>
    <style>
        .svg {fill: white}
    </style>
    <script type="text/javascript">
    </script>
</html>


